body {
    background-color: #f5f5f5;
  }
  
  .container {
    margin-top: 100px;
  }
  
  .post {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .post h1 {
    margin-top: 0;
  }
  
  .post .meta {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 10px;
  }
  
  .post .content {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .post .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .post .actions .btn {
    margin-right: 10px;
  }
  
  .post .actions .delete-btn {
    color: #dc3545;
  }
  
  .post .comments {
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
  
  .post .comments h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .post .comments form {
    margin-bottom: 20px;
  }
  
  .post .comments form textarea {
    min-height: 100px;
    margin-bottom: 10px;
  }
  
  .comment {
    background-color: #f9f9f9;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .comment .meta {
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 10px;
  }
  
  .comment .content {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  .comment .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .comment .actions .delete-btn {
    color: #dc3545;
  }
  